html, body{
    font-family: 'Pragati Narrow', sans-serif !important;
    background-image: url(/img/pasto.jpg);
}

body {
    background-image: url(/img/pasto.jpg);
}

.logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.navbar{
    background-color: rgb(0, 92, 0);
    padding: 10px;  
}

.navbar a{
    color: white;
    margin-left: 20px;
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
}

#navbarNav{
    justify-content: flex-end;
}

.card {
    max-width: 300px;
    margin: auto;
    background-color: rgb(13, 133, 13)  !important;
    margin-top: 50px;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 17px; 
}

.card-title {
    margin-bottom: 30px !important;
}


.card-text {
    text-align: center;
    padding-top: 10px;
}


.card-title,
.card .card-subtitle,
.card-text {
  color: white !important;

}
.card-link {
    text-decoration: none;
    color: white;
}

.footer {
    background-color: rgb(0, 92, 0);
    color: #999;
    padding: 10px;
    text-align: center;
    width: 100%;
    margin-top: auto;
}

.main-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-bottom: 1px;
}

.created-by {
    font-size: 12px;
    color: #999;
}



