html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Pragati Narrow', sans-serif !important;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(/img/pasto.jpg);
    
}

.logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.navbar{
    background-color: rgb(0, 92, 0);
    padding: 10px;  
}

.navbar a{
    color: white;
    margin-left: 20px;
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
}

#navbarNav{
    justify-content: flex-end;
    
}

.card {
    
    width: 25rem !important;
    margin: 0 60px;
    background-color:  rgb(13, 133, 13) !important;
    height: 18rem !important;


  }

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 17px; 
}

.card-title {
    margin-bottom: 30px !important;
}


.card-text {
    text-align: center;
    padding-top: 10px;
}


.card-title,
.card .card-subtitle,
.card-text {
  color: white !important;

}
.card-link {
    text-decoration: none;
    color: white;
}
